.dropdown-and-container {
    position: relative;
}
.dropdown-container {
    position: absolute;
    top: 110%;
    background-color: var(--w);
    color: var(--d);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 0.2rem;
    max-height: 10rem;
    overflow: auto;
    scrollbar-width: none;
    width: 100%;
    z-index: 1;
    border: 0.14rem solid var(--d);
    box-shadow: 0.2rem 0.2rem 0rem var(--d);
}
.dropdown-container > div {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    width: 100%;
    height: 100%;
    min-height: 2.2rem;
    padding: 0 0.5rem;
    overflow-x: hidden;
    border-bottom: 0.1rem solid var(--s);
}
.dropdown-container > div > p {
    height: auto;
}
.dropdown-container > div:hover {
    background-color: var(--s);
}
