.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}
.header > img {
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
    object-fit: cover;
}
.header > div > h1 {
    font-size: 1.4rem;
}
.header > div > p {
    font-size: 0.8rem;
    opacity: 80%;
}
.log-out {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.4rem;
}
.edit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.4rem;
    z-index: 1000;
}
