.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 40rem;
    padding: 0rem 0.5rem 0.5rem;
}
.left {
    font-size: 1rem;
    padding: 0.5rem 0;
    font-family: "Courier New", Courier, monospace;
}

.right {
    width: 8rem;
    background-color: var(--y);
    padding: 0.5rem 0;
    height: 2.3rem;
}
