.post-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f2f2f2;
}
.post-card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.post-card-date {
    color: #8a8a8a;
}
.post-card-dropdown {
    background-color: red;
}
.post-card-delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: red;
    cursor: pointer;
    font-size: 1.5em;
    align-self: flex-end;
}
.button.button-dropdown {
    padding: 0.4rem 0.8rem;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}
