.create-post-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.post-input {
    padding: 0.5rem;
    font-size: 1rem;
    height: 6rem;
}
.button.button-main-dropdown {
    width: 100%;
    padding: 0.8rem;
    background-color: transparent;
    color: var(--d);
    border: 0.1rem solid var(--d);
}
