.create-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.create-post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 0.8rem;
}
.post-input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--w);
    border: 0.2rem solid var(--s);
    border-radius: 0.3rem;
    height: 6rem;
    box-shadow: 0.2rem 0.2rem 0rem var(--s);
    transition: 0.2s ease-in-out;
    resize: none;
}
.post-input:hover {
    border-color: var(--d);
    box-shadow: none;
}
.post-input:focus {
    outline: none;
    border-color: var(--d);
    box-shadow: none;
}
.button.button-main-dropdown {
    width: 100%;
    padding: 0.8rem;
    background-color: transparent;
    color: var(--d);
    border: 0.1rem solid var(--d);
}
.create-post-btn {
    background-color: var(--s);
    color: var(--w);
}
.create-post-btn-open {
    box-shadow: none;
}
