#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --d: rgb(33, 28, 28);
    --w: white;
    font-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 1rem;
}
body {
    position: relative;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* The gud of all buttons style */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2.5rem;
    border-radius: 2rem;
    background-color: var(--d);
    color: var(--w);
    border: none;
    transition: 0.2s ease-in-out;
    border: 0.1rem solid var(--w);
    font-size: 1rem;
}
.button:hover {
    background-color: black;
    color: var(--w);
}
.button:active {
    opacity: 80%;
}
.button-danger {
    background-color: rgb(221, 25, 25);
    border: 0.1rem solid rgb(221, 25, 25);
}
.button-danger:hover {
    background-color: rgb(174, 20, 20);
    color: var(--w);
    border: 0.1rem solid rgb(174, 20, 20);
}
.button-success {
    background-color: rgb(0, 137, 32);
    border: 0.1rem solid rgb(0, 137, 32);
}
.button-success:hover {
    background-color: rgb(0, 64, 15);
    border: 0.1rem solid rgb(0, 64, 15);
    color: var(--w);
}
