#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    --d: #584d2e;
    --w: #ece5d3;
    --p: #016d6fba;
    --s: #d5594ec3;
    --t: #d7750cdc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 1rem;
}
html,
body {
    background-color: #ece5d3;
    position: relative;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2.5rem;
    border-radius: 0.2rem;
    border: none;
    transition: 0.2s ease-in-out;
    border: 0.1rem solid var(--d);
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0rem var(--d);
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}
.button:hover {
    box-shadow: 0rem 0rem 0rem rgb(0, 0, 0);
}
.button:active {
    opacity: 80%;
}
